<div class="row">
  <div class="col"></div>
  <div class="col-11">
    <h1>Cadastrar tarefa</h1>
    <div>
      <form>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="nome"
            placeholder="Nome"
            minlength="5"
            required
          />
          <label for="nome">Nome</label>
          <div class="alert alert-danger mt-3">
            <div>A tarefa deve ter pelo menos 5 caracteres.</div>
          </div>
        </div>
        <div class="form-group text-center">
          <input
            style="margin-right: 1rem"
            type="submit"
            class="btn btn-success"
            value="Cadastrar"
          />
          <a class="btn btn-dark"> Voltar </a>
        </div>
      </form>
    </div>
  </div>
  <div class="col"></div>
</div>
